body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

ul {
  margin: 0;
  padding: 0;
}
/* стили для корзины и все что с ней связано  */

.nav div {
  display: flex;
  margin: 0 10px;
  align-items: center;
}

#container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
  background-color: #f9f9f900;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  background-image: url(./img/1648098066_4-gamerwall-pro-p-trendovie-foni-krasivie-5.png);
}

#logo {
  cursor: pointer;
  margin: 10px;
  transition: 0.3s ease-in-out;
  padding: 5px;
  border-radius: 5px;
}

#logo:hover {
  background-color: rgba(245, 245, 245, 0.42);
  transition: 0.3s ease-in-out;
}

.title {
  margin: 14px;
}

.navbar-burger {
  background-color: inherit;
  margin-left: 10%;
  padding: 5px;
  transition: 0.3s ease-in-out;
}

.navbar-burger:hover {
  background-color: rgba(245, 245, 245, 0.42);
  transition: 0.3s ease-in-out;
}

.accessories {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-card {
  max-width: 330px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  outline: 1px solid rgb(230, 225, 225);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgb(225, 221, 221) 5px 5px 15px;
}

.product-card h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-card img {
  display: block;
  max-width: 300px;
  padding: 5px;
}

.product-card p {
  margin: 0;
  padding: 0;
}

.description {
  display: inline;
  font-size: 10px;
  color: rgba(84, 80, 80, 0.619);
}

.wrapperinput {
  display: flex;
  width: 90%;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  justify-content: space-between;
}

.sizes {
  display: block;
  margin-left: 12px;
  text-align: start;
  font-size: 20px;
  color: rgba(43, 40, 40, 0.619);
}

.input {
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.cartImg {
  background-color: #fff;
  padding: 7px;
}

input[type="number"] {
  width: 35px;
  padding: 5px;
  box-sizing: border-box;
}
