body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

ul {
  margin: 0;
  padding: 0;
}
/* стили для корзины и все что с ней связано  */

#container {
  background-color: #ffffff;
}

.accessories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  max-width: 330px;
  list-style: none;
  margin: 10px;
  padding: 10px;
  outline: 1px solid rgb(230, 225, 225);
  border-radius: 10px;
  box-shadow: rgb(225, 221, 221) 5px 5px 15px;
}

.product-card h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-card img {
  display: block;
  max-width: 300px;
  padding: 5px;
}

.product-card p {
  margin: 0;
  padding: 0;
}

.description {
  display: inline;
  font-size: 10px;
  color: rgba(84, 80, 80, 0.619);
}

.wrapperinput {
  display: flex;
  width: 90%;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  justify-content: space-between;
}

.sizes {
  display: block;
  text-align: center;
  font-size: 20px;
  color: rgba(43, 40, 40, 0.619);
}

.input {
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.cartImg {
  background-color: #fff;
  padding: 7px;
}

input[type="number"] {
  width: 35px;
  padding: 5px;
  box-sizing: border-box;
}
